<div style="text-align:center;margin-top:15px;">
    Copyright &copy;  <a href=" https://latelee.github.io/">Late Lee</a>,
    <a href=" https://github.com/latelee/latelee.github.io" target="_blank">My GitHub</a>,
    generated & designed by <a href=" https://www.panxw.com/">panxw</a>. 
    <br/>
    <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>，<span id="busuanzi_value_site_uv"></span>访客
    
	<i class="fa fa-modx"></i> 共点击<span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-pulse"></i></span>次， <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-pulse"></i></span>访客
    <!-- 请修改_includes/copyright.html添加统计代码。 -->
</div>
